* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(8, 10, 13);
  color: #fff;
}

/* Sidebar */



.sidebar1 {
    position: fixed;
    left: 0px;
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    
}


.sidebar2 {
    position: fixed;
    left: 0px;
    width: 60px;
    height: 100vh;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    z-index: 2;
    
}

.sidebar2:hover{
    opacity: 1;
    width: 215px;

}

.sideupper {
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    padding-left: 15px;
}
.sideupper a{
    font-size: 28px;
    text-decoration: none;
    color: #fff;
}

.sidemiddle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-left: 15px;

}

.sidemiddle a{
    font-size: 22px;
    width: calc(100% - 30px);
    height: 40px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 6px;
}

.sidemiddle a:hover {
    background-color:rgb(34, 34, 34);
    border-radius: 5px;
}

.sidelower {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 10px;

}

.sidelower a{
    font-size: 22px;
    width: calc(100% - 30px);
    height: 40px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 6px;
}

.sidelower a:hover {
    background-color:rgb(34, 34, 34);
    border-radius: 5px;
}



.content {
  margin-left: 60px;
  width: calc(100% - 60px);
  display: flex;
  justify-content: center;
  gap: 100px;
}

.sec1{
    width: 48vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0%;
    
}

.story {
    width: 100%;
}

.storylist {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  overflow-x:scroll;
  scrollbar-width: none;
  padding: 12px;
  scroll-behavior: smooth;
  
}


.storylist li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
  cursor: pointer;
}

.storylist img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #ff8501;
  padding: 2px;
}

.sec2{
    width: 30vw;
  
}

/* POST */
#postsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.post {
  background: #111;
  width: 80%;
  border-radius: 10px;
  padding: 12px;
}

.user {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
  gap:10px;
}


.user img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: solid 3px #87234b;

}

.user span {
  font-size: 18px;
  color: #fbf9f9;
}

.user i {
  margin-left: auto;
  cursor: pointer;
}

.media img {
  width: 100%;
  border-radius: 6px;
}

.actions {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 10px 0;
}

.actions div {
  display: flex;
  gap: 6px;
}

.actions svg {
  cursor: pointer;
  margin-left: 10px;
}

.likebtn{
  scale: 1.2;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.pop {
  transform: scale(1.5);
}


.caption {
  margin-bottom: 8px;
}

.addcomment {
  display: flex;
  gap: 10px;
}

.addcomment input {
  flex: 1;
  background: transparent;
  border: none;
  color: #fff;
}

.addcomment button {
  background: none;
  border: none;
  color: #0095f6;
  cursor: pointer;
}

/* RIGHT PANEL */
.right-panel {
  width: 300px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.profile a {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

.suggestions .title {
  display: flex;
  justify-content: space-between;
  color: #aaa;
  margin-bottom: 10px;
}
.title a {
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  color: #e0e7ec;
}

.suggestion {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.suggestion img {
  border-radius: 50%;
}

.suggestion a {
  margin-left: auto;
  color: #0095f6;
  font-size: 13px;
  text-decoration: none;
}

/* login page styles */
.logintab {
    position: fixed;
    top: 100px;
    left: 30%;
    border: 1px solid #181818;
    background-color: rgb(171, 171, 248);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    visibility: hidden;
    z-index: 4;
}

.closebtn {
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 20px;
}

.closebtn:hover {
    color: red;
    scale: 1.5;
}

.logintab h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.logintab h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.logintab input {
    width: 60%;
    height: 30px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.logintab button {
    width: 30%;
    height: 35px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(115, 164, 248);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.logintab button:hover {
    background-color: rgb(90, 130, 220);
}

.loginerror {
    color: red;
    margin-bottom: 10px;
    visibility: hidden;
}

.signupredirect {
    margin-bottom: 30px;
}
.signupredirect a {
    color: rgb(138, 76, 138);
    text-decoration: none;
    cursor: pointer;
}
.signupredirect a:hover {
    text-decoration: underline;
}

/* signup page styles */
.registertab {
    position: fixed;
    top: 100px;
    left: 30%;
    border: 1px solid #181818;
    background-color: rgb(171, 171, 248);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    visibility: hidden;
    z-index: 4;
}


.registertab h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.registertab h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.registertab input {
    width: 60%;
    height: 30px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.registertab button {
    width: 30%;
    height: 35px;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(115, 164, 248);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.registertab button:hover {
    background-color: rgb(90, 130, 220);
}

.registererror {
    color: red;
    margin-bottom: 10px;
    visibility: hidden;
}

.logindirect {
    margin-bottom: 30px;
}
.logindirect a {
    color: rgb(138, 76, 138);
    text-decoration: none;
    cursor: pointer;
}
.logindirect a:hover {
    text-decoration: underline;
}

/* user details */
.userdetail {
  position: absolute;
  top:20%;
  left:30%;
  background-color: rgb(158, 230, 230);
  width: 30%;
  height: 30%;
  border-radius: 5%;
  visibility: hidden;
  z-index: 6;

}

.userdetail h2 {
    text-align: center;
    margin-top: 3%;
    color: rgb(115, 82, 82);
    text-decoration: underline;
}

.userdetail ul {
    margin-top: 7%;
    margin-left: 30px;
    gap:10%
}

.dlist {
    margin-top: 4%;
    font: bold;
    color: #071029;

}

.dclose {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.dclose:hover {
    color: red;
    
}

.fa-solid {
    cursor: pointer;
}

.logoutbtn {
    margin-left: 10px;
    width: 70px;
    padding: 2px;
    color: white;
    background-color: rgb(17, 130, 235);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    scale:0.7
}



